numpy
pandas
aiofiles
dill
dnspython
evidently
Flask
httptools
imblearn
jinja2
gunicorn
pymongo
python-dotenv
python-multipart
seaborn
uvicorn
watchfiles
websockets
xgboost
boto3
Werkzeug
scikit-learn==1.5.1
# -e.